@import '../../../styles/variable.scss';

.blogItem {
  display: block;

  @include mq(lg) {
    display: none;
  }

  &__responsive {
    display: none;

    @include mq(lg) {
      display: block;
    }
  }
}
